.events {
    display:block;
    width: 350px;
    min-width: 300px;
    height: 100%;
    cursor: pointer;
    flex-shrink: 0;
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: #e3e4e8;
    display: table-cell;
}

.events_card {
    background-color: #f5f7fa;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.round_ava {
    margin: 10px;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 50%;
}

.events_texts {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_box {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.events_title, .events_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 16px;
}

.events_title {
    font-weight: bold;
    margin-bottom: 6px;
    margin-right: auto;
}

.events_time {
    margin-right: 10px
}